*,
::after,
::before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url(../fonts/BebasNeueRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}


html {
	font-size: 16px;
}

body {
	font-family: "Noto Sans", sans-serif;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.mobile {
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 1s ease;
	overflow: auto
}

.mobile-menu {
	margin: 0;
	padding: 0;
	padding-top: 7rem;
	padding-left: 1.2rem;
	padding-bottom: 2.3rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2.3rem;
	border-bottom: 1px solid #ebebf0;
	margin-bottom: 2.3rem;
}

.mobile-menu__link {
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 160%;
	text-decoration: none;
	color: #292d33;
}

.mobile-submenu {
	margin: 0;
	padding: 0;
	padding-top: 1.6rem;
	padding-left: 2.7rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.mobile-submenu__link {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 160%;
	color: #828a99;
	text-decoration: none;
}

.mobile-feedback {
	padding-left: 1.2rem;
}

.mobile-feedback__phone {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 160%;
	color: #292d33;
	display: block;
	margin-bottom: 1.6rem;
}

.mobile-feedback__address {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 0.8rem;
	margin: 1.6rem 0 0.8rem;
	font-size: 1.1rem;
	line-height: 160%;
	font-style: normal;
}

.mobile-feedback__mail {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 0.8rem;
	font-size: 1.1rem;
	line-height: 160%;
	color: #292d33;
	text-decoration: none;
}

.mobile-feedback__vk {
	display: inline-block;
	margin-top: 1.6rem;
	margin-right: 1.3rem;
}

/* Мобильное меню */

.title {
	font-family: 'Bebas Neue Regular';
	font-size: 3.75rem;
	font-weight: 400;
	padding-top: 24px;
	color: #000;
	position: relative;
	margin: 0;
}

.title::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 2px;
	background-color: #5c8ee5;
}

.section {
	margin: 9.375rem 0 9.375rem;
}

.header {
	background-image: url(../img/header-bg.jpg);
	background-position: 8%;
	background-repeat: no-repeat;
	background-size: cover;
	/* min-height: 100vh; */
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
	display: flex;
	align-items: center;
	color: #fff;
	line-height: 160%;
	height: 5.875rem;
	border-bottom: 1px solid rgba(235, 235, 240, 0.2);
	position: fixed;
	z-index: 2;
	width: 100%;
	transition: all 0.5s ease;
}

.navbar--light {
	background-color: #fafbfc;
	height: 4.625rem;
	color: black;
}

.header__logo {
	display: flex;
	align-items: center;
	padding: 0 3.125rem;
	border-right: 1px solid rgba(235, 235, 240, 0.2);
	height: 100%;
}

.logo {
	display: none;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 3.3125rem;
	flex-basis: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 3.125rem;
	height: 100%;
}

.header__item {
	height: 100%;
}

.header__link {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: inherit;
	text-decoration: none;
	height: 100%;
	/* border-bottom: 2px solid transparent; */
	position: relative;
}

.header__link::after {
	content: '';
	border-bottom: 2px solid #5c8ee5;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	transform: scale(0);
	transition: all .7s ease;
}

.header__link:hover::after {
	left: 0;
	right: 0;
	transform: scale(1);
}

/* .header__link:hover {
	border-bottom: 2px solid #5c8ee5;
} */

.header__phone {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-right: 3.125rem;
	gap: .625rem;
}

.phone-icon {
	fill: #5C8EE6;
}

.phone-link {
	font-size: 1rem;
	color: inherit;
	text-decoration: none;
}

.navbar__button {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.125rem;
	height: 100%;
	padding: 1.5625rem 3.3125rem;
}

.navbar--light .navbar__button {
	color: #fff;
}

.button-icon {
	display: none;
}

.button {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 160%;
	background-color: #5C8EE5;
	cursor: pointer;
	border: none;
	color: inherit;
}

.header__content {
	position: relative;
	padding-top: 245px;
	color: #fff;
}

.header__title {
	font-family: 'Bebas Neue Regular';
	font-size: 5rem;
	line-height: 120%;
	max-width: 67.5rem;
	margin: 0 0 2.375rem;
	color: #fff;
}

.header__subtitle {
	font-size: 1.1rem;
	line-height: 160%;
	max-width: 45rem;
	margin: 0 0 2.7rem;
}

.header__button {
	padding: 1.5625rem 3.75rem;
}

.header-featurs {
	position: relative;
	display: flex;
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 6.25rem;
	min-height: 10.5rem;
}

.header-featurs__item {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	padding: 1.875rem 3.125rem;
	border: 1px solid rgba(235, 235, 240, 0.2);
	width: 18rem;
	/* min-height: 100%; */
	height: auto;
}

.header-featurs__text {
	margin: .8125rem 0 0 0;
}

.slider-buttons {
	display: none;
	height: 44px;
}

.slider-button-prev,
.slider-button-next {
	height: 100%;
	flex-basis: 50%;
	border: 1px solid rgba(235, 235, 240, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.steps {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 1.875rem;
	margin-top: 3.5625rem;
}

.steps__item {
	width: 20.625rem !important;
	max-width: 100%;
	/* padding-right: 1.875rem; */
	min-height: 100%;
}

.steps__num {
	font-family: 'Bebas Neue Regular';
	font-weight: 400;
	font-size: 3rem;
	line-height: 120%;
	color: #5c8ee5;
	display: flex;
	align-items: center;
}

.steps__num::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #ebebf0;
	margin-left: 1.875rem;
}

.steps__title {
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 160%;
	color: #292d33;
	margin: 1.875rem 0 .9375rem 0;
}

.steps__text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828a99;
	margin: 0 0 1, 625rem 0;
}

.steps__request {
	font-weight: 600;
	font-size: 1rem;
	line-height: 160%;
	color: #5c8ee5;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.steps__request::before {
	content: '';
	width: 2.5rem;
	height: 1px;
	background-color: #5c8ee5;
	margin-right: 1.25rem;
	transition: width .3s;
}

.steps__request:hover::before {
	width: 3.75rem;
}

.slider-button-steps {
	justify-content: flex-end;
}

.slider-button-steps-prev,
.slider-button-steps-next {
	background-color: #5c8ee5;
	flex-basis: 0;
	padding: 10px 15px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3.885rem;
}

.card {
	flex-basis: 33.33%;
	border: 1px solid #ebebf0;
	position: relative;
	transition: all .3s ease;
	text-decoration: none;
}

.card:hover {
	border: 1px solid #5c8ee5;
}

.card:hover .card__title {
	color: #5c8ee5;
}

.card__content {
	padding: 2.5rem 3.125rem 0;
	margin-bottom: 25.6875rem;
}

.card__image {
	max-width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.card__title {
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 160%;
	color: #292d33;
	margin: 0;
	margin-bottom: .625rem;
}

.card__text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #828a99;
	margin: 0;
}

.brands__cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3.725rem;
}

.brands__card {
	display: grid;
	flex-basis: 50%;
	column-gap: 3.125rem;
	grid-template-columns: 11.25rem 1fr;
	grid-template-rows: auto 2fr;
	grid-template-areas:
		"logo title title"
		"logo text text";
	border: 1px solid #ebebf0;
	padding: 3.125rem;
	transition: all .5s ease-out;
}

.brands__card:hover {
	border: 1px solid #5c8ee5;
}

.brands__logo {
	flex-shrink: 0;
	filter: grayscale(100%);
	transition: filter .5s ease-out;
	width: 11.25rem;
	height: 11.25rem;
	grid-area: logo;
}

.brands__card:hover .brands__logo {
	filter: grayscale(0);
}

.brands__title {
	font-size: 1.75rem;
	font-weight: normal;
	line-height: 160%;
	color: #292d33;
	margin: 0;
	margin-bottom: 10px;
	transition: color .5s ease-out;
	grid-area: title;
}

.brands__card:hover .brands__title {
	color: #5C8EE5;
}

.brands__text {
	font-size: 1rem;
	line-height: 160%;
	color: #828a99;
	margin: 0;
	grid-area: text;
}


/* Медиа запросы */

@media (max-width: 1800px) {
	.header__menu {
		gap: 2.3125rem;
	}
}

@media (max-width: 1700px) {
	.header__menu {
		padding-left: 2.3125rem;
	}

	.header__phone {
		margin-right: 2.3125rem;
	}

	.navbar__button {
		padding: 0 3rem;
	}
}

@media (max-width: 1600px) {
	html {
		font-size: 15px;
	}

	.container {
		max-width: 90rem;
	}

	.header__logo {
		padding: 0 1.5rem;
	}

	.logo,
	.logo--light {
		max-width: 6rem;
	}
}

@media (max-width: 1460px) {
	html {
		font-size: 14px;
	}

	.container {
		max-width: 80rem;
	}

	.header__menu {
		padding-left: 1rem;
		gap: 1.5rem;
	}

	.navbar__button {
		padding: 0 1rem;
	}

	.header__phone {
		margin-right: 1.5rem;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 13px;
	}

	.navbar {
		height: 5.1rem;
	}

	.header__phone {
		display: none;
	}

	.container {
		max-width: 70rem;
	}

	.slider-buttons {
		display: flex;
	}

	/* .section {
		margin: 7.69rem 0 7.69rem;
	}
*/
	.steps {
		margin-bottom: 1.53rem;
	}

	.brands__cards {
		flex-direction: column;
	}


}

@media (max-width: 992px) {
	.container {
		max-width: 60rem;
	}

	.is-open {
		/* display: block; */
		top: 0;
	}

	.menu-close .m-menu-toogle__line:nth-child(2) {
		display: none;
	}

	.menu-close .m-menu-toogle__line:nth-child(1) {
		transform: rotate(45deg) translateY(3px);
		margin-top: 12px;
	}

	.menu-close .m-menu-toogle__line:nth-child(3) {
		transform: rotate(-45deg) translateY(-3px);
		margin-bottom: 10px;
	}

	.m-menu-toogle {
		padding: 1.975rem 2.30rem;
		border-right: 1px solid rgba(235, 235, 240, 0.2);
		width: 80px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.m-menu-toogle__line {
		width: 100%;
		height: 1px;
		background-color: #fff;
	}

	.navbar--light .m-menu-toogle__line {
		background-color: #000;
	}

	.m-menu-toogle__line:nth-child(2) {
		width: 80%;
	}

	.header__menu {
		display: none;
	}

	.header__logo {
		flex-grow: 1;
		justify-content: center;
		padding: 0 4.1rem;
	}

	.navbar__button {
		padding: 1.375rem 2.15rem;
	}

	.navbar__button .button-text {
		display: none;
	}

	.navbar__button .button-icon {
		fill: #fff;
		display: block;
	}

	.header-featurs__item {
		padding: 1.875rem 1.125rem;
	}

	.header__content {
		padding-top: 9rem;
	}

	.card {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.container {
		max-width: 40rem;
	}

	.header__title {
		font-size: 4rem;
	}

	.card {
		flex-basis: 100%;
	}

	.card__image {
		width: 100%;
	}

	.brands__content {
		padding: 0;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 90%;
	}

	.header__title {
		font-size: 3.7rem;
		padding-top: 18px;
		margin: 0 0 1.2rem;
	}

	.header__subtitle {
		margin: 0 0 2.0rem;
	}

	.brands__logo {
		width: 100%;
	}

	.brands__card {
		grid-template-columns: 100px auto;
		grid-template-rows: auto 2fr;
		grid-template-areas:
			"logo title"
			"text text";
	}

	.header-featurs {
		margin-top: 4.05rem;
	}

	.section {
		margin: 8.075rem 0 9.375rem;
	}


}